.bookcover__poster{
    width: 230px;
    height: 270px;
}

.bookcover{
    cursor: pointer;
    margin: 30px;
}

.bookcover__content{
    font-size: small;
    font-weight: bolder;
    color: white;

}

.bookcover__content :hover{
    color: #33FF00;
}