.header {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-image: linear-gradient(to right, #00c3ff, #ffff1c);
}

.logo{
    text-decoration: none;
    color: black;
    font-family: 'Lobster', cursive;
}


.header__logo{
    height: 70px;
    width: 70px;
}

.header__left {
    display: flex;
    align-items: center;
    font-weight: bolder;
}

.header__right{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bolder;
    justify-content: space-evenly;
}

.header__rightLogin{
    display: flex;
    align-items: center;
    padding: 20px;
    color: black;
}

.header__right :hover {
    color: green;
    cursor: pointer;
}

.header__rightLogout{
    display: flex;
    align-items: center;
    padding: 20px;
    color: black;
}