.home{
    display: flex;
    justify-content: space-around; 
    align-items: center;   
}

.home__music{
    background-color: black;
    width: 50%;
    color: white;
    padding: 10px;
}

.home__musicHeading{
    font-size: 75px;
    margin: 100px;
    color: white;
}

.home__music button{
    padding: 20px;
    border-radius: 99px;
    margin-left: 300px;
    background-color: salmon;
    border: none;
    cursor: pointer;
    font-family: 'Pacifico', cursive;
    align-content: center;
}

.home__book{
    width: 50%;
}

.home__book h1{
    margin: 100px;
    font-size: 75px;
}


.home__book button {
    padding: 20px;
    border-radius: 99px;
    margin-left: 300px;
    background-color: lightgreen;
    border: none;
    cursor: pointer;
    font-family: 'Pacifico', cursive;
}

