.home{
    background-image: url('https://wallpaperaccess.com/full/1251347.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__heading{
    color: white;
    font-size: 70px;
}