.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #121e3d 0%, #000 100%);;
}

.user__upper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    padding: 50px 50px 0 50px;
}

.user__upperLeft h1{
    font-size: 60px;
}

.user__upperLeft p{
    font-size: 15px;
}

.user__upperLeft button{
    padding: 15px 70px 15px 70px;
    margin: 20px 20px 20px 0;
    border-radius: 99px;
    background-color: #1db954;
    border: none;
    font-weight: bolder;
    color: white;
    cursor: pointer;
}

.user__upperRight img{
    width: 350px;
    height: inherit;
    margin-left: 20px;
}

.user__lower{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.user__avatar{
    background-color: #222326;
    padding: 25px 100px 100px 100px;
}

.user__details{
    padding: 25px 341px 150px 50px;
    align-items: center;
}

.user__details h1{
    font-weight: bolder;
    font-size: 50px;
    margin-bottom: 25px;
}

.user__details h2{
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 40px;
}

.user__details p{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-top: 15px;
    font-weight: bolder;
    font-size: 15px;
}

.user__title{
    color: gray;
}

.user__result{
    text-align: left;
}
